/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 jul. 2021, 10:40:03
    Author     : shida
*/
/* Vamos a ver si es cierto */

:root {
    --bg-color: #1FA087;
    --acc-color: #0942a9;
    --border: 2px;
    --dur-time: 600ms;
    --offset-height: 100px;
    --delay-time: 700ms;
}

*,
*::before,
*::after {
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    zoom: 125%;
    margin: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://i.ibb.co/B3Gt2rx/MarLog.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

.header {
    text-align: center;
    word-spacing: 2px;
    font-size: 12pt;
    font-family: 'Bona Nova', serif;
    font-weight: bolder;
    background: linear-gradient(to right, var(--bg-color), #0942a9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 2% 0;
    -webkit-text-stroke: 0.1px var(--bg-color);
    pointer-events: none;
    opacity: 0;

}

.SaludoPrincipal {
    padding: 5%;
    display: flex;
    justify-content: center;
    text-align: center;

}

.Menu .UserSession {
    position: relative;
    display: block;
    left: -400px;
    top: 15px;
}

.fade .header {
    opacity: 0;
    animation: fadeUp calc(100ms + var(--dur-time)) ease-in-out calc(100ms + var(--delay-time)) forwards;
}

.beats {
    -webkit-text-stroke: 0.1px #0942a9;
}

.switch-header {
    width: 70%;
    margin: 0% auto;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    position: relative;
}

.bottom-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 1px;
    background: #1FA087;
    transition: left 200ms ease-in-out;
}

.sign {
    display: inline;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Bona Nova', serif;
    letter-spacing: 2px;
    font-size: 0.9em;
    padding: 2%;
    background-color: transparent;
    border: none;
    transition: color 200ms ease-in-out;
}

.sign-in-header {
    color: #1FA087;
}

.sign:hover .switch-header::before {
    left: 50%;
}

.Ship {
    font-size: 20pt;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15%;

}

.fade .Ship {
    opacity: 0;
    animation: fadeUp var(--dur-time) ease-in-out var(--delay-time) forwards;
}

@keyframes fadeUp {
    from {
        transform: translateY(var(--offset-height));
        opacity: 0;
        pointer-events: none;
    }

    to {
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
    }
}

.icon-bg {
    position: absolute;
    background: linear-gradient(to right, var(--bg-color), #0942a9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.icon-V {
    color: #ffffff99;
    text-align: center;
    position: absolute;
}

.sign-in-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 30%;
    height: 85%;
    padding: 0;
    position: relative;
    align-self: center;
}

.sign-in {
    background-color: transparent;
    font-size: 10pt;
    padding: 2%;
    color: #fff;
    width: 100%;
    border: none;
    font-family: 'Bona Nova', serif;
}

#password {
    width: 75%;
}

.reg {
    font-size: 16pt;
    color: #fff;
    background-color: transparent;
    border: 1px solid #ffffff95;
    border-radius: 30px;
    width: 85%;
    transition: width 200ms ease-in-out;
    margin: 5% auto;
    opacity: 0;
    pointer-events: none;
}

::placeholder {
    color: #ffffff60;
}

.fade .reg0 {
    opacity: 0;
    animation: fadeUp calc(200ms + var(--dur-time)) ease-in-out calc(200ms + var(--delay-time)) forwards;
}

.fade .reg1 {
    display: flex;
    opacity: 0;
    animation: fadeUp calc(300ms + var(--dur-time)) ease-in-out calc(300ms + var(--delay-time)) forwards;
}

.hide {
    display: inline;
    align-self: center;
    color: #ffffff95;
}

.button {
    padding: 1%;
    width: 11em;
    color: #fff;
    font-size: 0.7em;
    text-transform: uppercase;
    background-color: var(--bg-color);
    border: none;
    font-family: 'Bona Nova', serif;
    border-radius: 1.5em;
    letter-spacing: 1px;
    word-spacing: 3px;
    display: block;
    margin: 8% auto 8% auto;
    position: relative;
    pointer-events: none;
    opacity: 0;
}

.fade .button {
    opacity: 0;
    animation: fadeUp calc(400ms + var(--dur-time)) ease-in-out calc(400ms + var(--delay-time)) forwards;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1.7em;
    border: var(--border) solid var(--bg-color);
    z-index: -1;
}

.button:hover::before,
.button:focus::before {
    top: calc(var(--border) * -2);
    left: calc(var(--border) * -2);
    right: calc(var(--border) * -2);
    bottom: calc(var(--border) * -2);
    border-radius: 1.7em;
}

.or {
    font-size: 12pt;
    color: #ffffff65;
    display: block;
    margin: auto;
    text-align: center;
    align-self: center;
    position: relative;
    pointer-events: none;
    opacity: 0;
    font-family: 'Bona Nova', serif;
}

.fade .or {
    opacity: 0;
    animation: fadeUp calc(500ms + var(--dur-time)) ease-in-out calc(500ms + var(--delay-time)) forwards;
}

.or::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8rem;
    height: 1px;
    width: 7rem;
    background-color: #ffffff95;
}

.or::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -8rem;
    height: 1px;
    width: 7rem;
    background-color: #ffffff95;
}

.or-text {
    text-align: center;
    color: #ffffff95;
    font-size: 9pt;
    font-family: 'Bona Nova', serif;
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
}

.fade .or-text {
    opacity: 0;
    animation: fadeUp calc(600ms + var(--dur-time)) ease-in-out calc(600ms + var(--delay-time)) forwards;
}

.alt {
    display: flex;
    margin: 0% auto;
    justify-content: space-around;
    width: 50%;
}

.icon-link {
    margin: 0 10% 0 10%;
    padding: 0;
    text-decoration: none;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

.alt-icon {
    color: #1FA087;
    font-size: 1.8em;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

.icon-link:hover,
.alt-icon:hover {
    transform: scale(1.2);
    background: linear-gradient(to right, var(--bg-color), #0942a9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fade #alt-icon1 {
    opacity: 0;
    animation: fadeUp calc(700ms + var(--dur-time)) ease-in-out calc(700ms + var(--delay-time)) forwards;
}

.fade #alt-icon2 {
    opacity: 0;
    animation: fadeUp calc(800ms + var(--dur-time)) ease-in-out calc(800ms + var(--delay-time)) forwards;
}

.fade #alt-icon3 {
    opacity: 0;
    animation: fadeUp calc(900ms + var(--dur-time)) ease-in-out calc(900ms + var(--delay-time)) forwards;
}

.author-text {
    text-align: center;
    font-size: 0.9em;
    padding: 0;
    font-family: 'Bona Nova', serif;
    color: #ffffff;
    position: absolute;
    bottom: -8%;
    padding: 2%;
    margin: auto;
    align-self: center;
}

.fade .author-text {
    opacity: 0;
    animation: fadeUp calc(1000ms + var(--dur-time)) ease-in-out calc(1000ms + var(--delay-time)) forwards;
}

.author-link {
    font-family: 'Bona Nova', serif;
    color: #ffffff;
    text-decoration: underline;
}

.author-link:hover {
    text-decoration: underline;
    color: #1FA087;
}

@media only screen and (min-width:600px) {
    * {
        font-size: 10pt;
    }

    .button {
        padding: 3%;
    }

    .Ship {
        transform: scale(3);
    }

    .reg {
        border: 3px solid #ffffff95;
        font-size: 1.2em;
    }

    .author-text {
        bottom: -44%;
    }
}


.header2 {
    text-align: center;
    word-spacing: 2px;
    font-size: 12pt;
    font-family: 'Bona Nova', serif;
    font-weight: bolder;
    background: linear-gradient(to right, var(--bg-color), #0942a9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 2% 0;
    -webkit-text-stroke: 0.1px var(--bg-color);
    pointer-events: none;
    opacity: 0;

}

.slide .header2 {
    opacity: 0;
    animation: fadeUp calc(100ms + var(--dur-time)) ease-in-out calc(100ms + var(--delay-time)) forwards;
}

.beats2 {
    -webkit-text-stroke: 0.1px #0942a9;
}

.switch-header2 {
    width: 100%;
    margin: 2% auto;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    position: relative;
}

.bottom-border2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 1px;
    background: #1FA087;
    transition: left 200ms ease-in-out;
}

.sign:hover .switch-header::before {
    left: 50%;
}

.Ship2 {
    font-size: 20pt;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15%;
}

.slide .Ship2 {
    opacity: 0;
    animation: fadeUp var(--dur-time) ease-in-out var(--delay-time) forwards;
}

@keyframes fadeUp {
    from {
        transform: translateY(var(--offset-height));
        opacity: 0;
        pointer-events: none;
    }

    to {
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
    }
}

.icon-bg2 {
    position: absolute;
    background: linear-gradient(to right, var(--bg-color), #0942a9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.icon-V2 {
    color: #ffffff99;
    text-align: center;
    position: absolute;
}

.sign-in2 {
    background-color: transparent;
    font-size: 10pt;
    padding: 2%;
    color: #fff;
    width: 100%;
    border: none;
    font-family: 'Bona Nova', serif;
}

#password2 {
    width: 75%;
}

.reg {
    font-size: 1em;
    color: #fff;
    background-color: transparent;
    border: 1px solid #ffffff95;
    border-radius: 30px;
    width: 85%;
    transition: width 200ms ease-in-out;
    margin: 2% auto;
    opacity: 0;
    pointer-events: none;
}

::placeholder {
    color: #ffffff60;
}

.slide .reg00 {
    opacity: 0;
    animation: fadeUp calc(200ms + var(--dur-time)) ease-in-out calc(200ms + var(--delay-time)) forwards;
}

.slide .reg11 {
    display: flex;
    opacity: 0;
    animation: fadeUp calc(300ms + var(--dur-time)) ease-in-out calc(300ms + var(--delay-time)) forwards;
}


.slide .reg22 {
    display: flex;
    opacity: 0;
    animation: fadeUp calc(400ms + var(--dur-time)) ease-in-out calc(400ms + var(--delay-time)) forwards;
}

.slide .reg33 {
    display: flex;
    opacity: 0;
    animation: fadeUp calc(500ms + var(--dur-time)) ease-in-out calc(500ms + var(--delay-time)) forwards;
}

.slide .reg44 {
    display: flex;
    opacity: 0;
    animation: fadeUp calc(600ms + var(--dur-time)) ease-in-out calc(600ms + var(--delay-time)) forwards;
}

.slide .reg55 {
    display: flex;
    opacity: 0;
    animation: fadeUp calc(700ms + var(--dur-time)) ease-in-out calc(700ms + var(--delay-time)) forwards;
}

.hide2 {
    display: inline;
    align-self: center;
    color: #ffffff95;
}




.button2 {
    padding: 1%;
    width: 20em;
    color: #fff;
    font-size: 0.7em;
    text-transform: uppercase;
    background-color: var(--bg-color);
    border: none;
    font-family: 'Bona Nova', serif;
    border-radius: 1.5em;
    letter-spacing: 1px;
    word-spacing: 3px;
    display: block;
    margin: 8% auto 8% auto;
    position: relative;
    pointer-events: none;
    opacity: 0;
}

.slide .button2 {
    opacity: 0;
    animation: fadeUp calc(600ms + var(--dur-time)) ease-in-out calc(600ms + var(--delay-time)) forwards;
}

.button2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1.7em;
    border: var(--border) solid var(--bg-color);
    z-index: -1;
}

.button2:hover::before,
.button2:focus::before {
    top: calc(var(--border) * -2);
    left: calc(var(--border) * -2);
    right: calc(var(--border) * -2);
    bottom: calc(var(--border) * -2);
    border-radius: 1.7em;
}

.or2 {
    font-size: 12pt;
    color: #ffffff65;
    display: block;
    margin: auto;
    text-align: center;
    align-self: center;
    position: relative;
    pointer-events: none;
    opacity: 0;
    font-family: 'Bona Nova', serif;
}

.slide .or2 {
    opacity: 0;
    animation: fadeUp calc(700ms + var(--dur-time)) ease-in-out calc(700ms + var(--delay-time)) forwards;
}

.or2::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8rem;
    height: 1px;
    width: 7rem;
    background-color: #ffffff95;
}

.or2::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -8rem;
    height: 1px;
    width: 7rem;
    background-color: #ffffff95;
}

.or-text2 {
    text-align: center;
    color: #ffffff95;
    font-size: 9pt;
    font-family: 'Bona Nova', serif;
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
}

.slide .or-text2 {
    opacity: 0;
    animation: fadeUp calc(800ms + var(--dur-time)) ease-in-out calc(800ms + var(--delay-time)) forwards;
}

.alt2 {
    display: flex;
    margin: 0% auto;
    justify-content: space-around;
    width: 50%;
}

.icon-link2 {
    margin: 0 10% 0 10%;
    padding: 0;
    text-decoration: none;

}

.alt-icon2 {
    background: linear-gradient(to right, var(--bg-color), #0942a9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8em;
    text-align: center;
    opacity: 0;
    margin: 0;
    pointer-events: none;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

.icon-link2:hover,
.alt-icon2:hover {
    transform: scale(1.2);
    background: linear-gradient(to right, var(--bg-color), #0942a9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slide #alt-icon4 {
    opacity: 0;
    animation: fadeUp calc(900ms + var(--dur-time)) ease-in-out calc(900ms + var(--delay-time)) forwards;
}

.slide #alt-icon5 {
    opacity: 0;
    animation: fadeUp calc(1000ms + var(--dur-time)) ease-in-out calc(1000ms + var(--delay-time)) forwards;
}

.slide #alt-icon6 {
    opacity: 0;
    animation: fadeUp calc(1100ms + var(--dur-time)) ease-in-out calc(1100ms + var(--delay-time)) forwards;
}

.author-text2 {
    text-align: center;
    font-size: 0.9em;
    padding: 2%;
    font-family: 'Bona Nova', serif;
    color: #ffffff;
    position: absolute;
    bottom: -8%;
    margin: -20% auto;
    align-self: center;
}

.slide .author-text2 {
    opacity: 0;
    animation: fadeUp calc(1200ms + var(--dur-time)) ease-in-out calc(1200ms + var(--delay-time)) forwards;
}

.author-link2 {
    font-family: 'Bona Nova', serif;
    color: #ffffff;
    text-decoration: underline;
}

.author-link2:hover {
    text-decoration: underline;
    color: #1FA087;
}

.sign-up-wrapper {
    display: none;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    width: 30%;
    border-radius: 15px;
    padding: 0px;
    position: relative;
}

@media only screen and (min-width:600px) {
    body {
        font-size: calc(2 * font-size);
    }

    .button2 {
        padding: 3%;
    }

    .Ship2 {
        transform: scale(3);
    }

    .reg {
        border: 3px solid #ffffff95;
        font-size: 1.2em;
    }

    .author-text2 {
        bottom: -40%;
    }
}

.error {
    font-size: 0.9em;
    font-family: 'Bona Nova', serif;
    color: #dd0909;
    position: relative;
    left: 5%;
}

.error0 {
    display: none;
}

.error1 {
    display: none;
}

.error00 {
    display: none;
}

.error11 {
    display: none;
}

.error22 {
    display: none;
}

.error33 {
    display: none;
}

.error44 {
    display: none;
}

.error55 {
    display: none;
}

.error::after {
    content: "\002A";
    position: relative;
    transform: scale(1.5);
}